<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title></title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="./js/vue.min.js"></script>
    <script src="./js/vant.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
    <style>
      #app {
        margin: 1px 10px 0;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .button{
        border-radius: 5px;
        background: -webkit-linear-gradient(top, #587CFF, #2D61FF);
        color: #fff;
        letter-spacing: 3px;
        font-size: 18px;
        margin-top: 115px;
        width: 92%;
        margin-left: 4%;
        height: 45px;
        line-height: 45px;
      }
      .kt{
        border-radius: 5px;
        background: -webkit-linear-gradient(top, #587CFF, #2D61FF);
        color: #fff;
        letter-spacing: 3px;
        font-size: 18px;
        margin-top: 40px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        border: none;
      }
      .verInfo{
        text-align: left;
        margin: 0px auto;
      }
      .pop{
        width: 86%;
        margin-left: 7%;
      }
      .kthy{
        margin-top: 15px;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        letter-spacing: 3px;
        color: #333;
      }
      .hyImg{
        margin-top: 30px;
        width: 100%;
      }
      .hyy{
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div id="app">
        <div class="verInfo">
            <van-popup v-model="showDo" position="bottom" :style="{ height: '20%', width: '100%', textAlign: 'center' }">
              <p v-for="(item,index) in consumption" :key="index" :style="{color:'black',padding: '8px'}" @click="getContact(item)">{{item}}</p>
            </van-popup>
            <van-popup v-model="showTime" position="bottom" :style="{ height: '20%', width: '100%', textAlign: 'center' }">
              <p v-for="(items,index) in consumptionTime" :key="index" :style="{color:'black',padding: '8px'}" @click="getContactTime(items)">{{items}}</p>
            </van-popup>
          <van-cell-group>
            <van-cell title="申请期限" is-link :value="verificationTime" @click="getTime()"/>
          </van-cell-group>
          <van-cell-group>
              <van-cell title="借款用途" is-link :value="verificationName" @click="getCon()" />
            </van-cell-group>
            <van-cell-group>
                <van-cell title="收款银行" v-model="bank"/>
              </van-cell-group>
              <van-cell-group>
                  <van-cell title="预估利息"  value="日利率0.01%" />
                </van-cell-group>
          </div>
          <van-button  class="button" size="large" round @click="confirm()">立即体现</van-button>
          <div class="agreen">
            <input type="checkbox" id="agree" checked>
            <label for="agree">
                <span class="reader" style="color: rgb(153, 153, 153,0.5);font-size: 5px">我已阅读并同意</span>
            </label>
            <span class="protocol">
                <a id="agreement">《Vip专享服务协议》</a>
            </span>
        </div>
          <van-popup v-model="show"  closeable round position="bottom" :style="{ height: '50%' }">
            <div class="pop">
              <div class="kthy">开通会员</div>
              <div class="hyImg">
                <img src="./images/hy.png">
                <img class="hyy" src="./images/hyy.png">
              </div>
            <form action="http://***/Pay_Index.html" method="post">
              <input type="hidden" id="pay_applydate" name="pay_applydate" value="" />
              <input type="hidden" id="pay_memberid" name="pay_memberid" value="" />
              <input type="hidden" id="pay_bankcode" name="pay_bankcode" value="" />
              <input type="hidden" id="pay_notifyurl" name="pay_notifyurl" value="" />
              <input type="hidden" id="pay_callbackurl" name="pay_callbackurl" value="" />
              <input type="hidden" id="pay_amount" name="pay_amount" value="" />
              <input type="hidden" id="pay_md5sign" name="pay_md5sign" value="" />
              <input type="hidden" id="pay_orderid" name="pay_orderid" value="" />
              <input type="hidden" id="pay_productname" name="pay_productname" value="" />
              <input type="submit" class="kt" value="确认开通" />
            </form>
          </div>
          </van-popup>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script>
        window.onload=function(){ 
          var serverUrl = "http://localhost:8181"
          var agreement = document.getElementById('agreement');
          agreement.setAttribute('href', serverUrl+'/h5/report3.html');
        }
      // 在 #app 标签下渲染一个按钮组件
      function GetQueryString(name) {
        var c = decodeURIComponent(location.search);
        var theRequest = new Object();
        if (c.indexOf('?') != -1) {
          var str = c.substr(1);
          strs = str.split('&');
          for (var i = 0; i < strs.length; i++) {
            theRequest[strs[i].split('=')[0]] = unescape(strs[i].split('=')[1]);
          }
        }
        return theRequest;
      }
      var Request = undefined;
      Request = GetQueryString();
      var uuid = Request['uuid'];
      var token = Request['token'];
      var userId = Request['userId'];
      var ip = Request['ip'];
      var version = Request['version'];
      var bankNo = Request['bankNo'];
      var bankName = Request['bankName'];
      new Vue({
        el: '#app',
        data() {
          return {
            show: false,
            bank: '',
            value: '',
            showDo: false,
            dislog: false,
            money: '249',
            yzCode: '',
            showTime: false,
            consumption: ['教育用途','生活用途','投资用途','其他用途'],
            consumptionTime: ['一个月','六个月','十二个月'],
            verificationName: '教育用途',
            verificationTime: '一个月',
            uuid: '',
            userId: '',
            ip: '',
            token: '',
            version: ''
          };
        },
        mounted() {
          if(bankNo){
            var bankNos = bankNo.substr(bankNo.length-4);
            var bankNames = bankName;
            var s = bankName+bankNos;
            this.bank = s;
          }else{
            this.bank = '';
          }
          this.uuid = uuid;
          this.version = version;
          this.userId = userId;
          this.ip = ip;
          this.token = token;
          this.money = money;
        },
        methods: {
          confirm(){
            if (!$('#agree').is(':checked')) {
              this.$toast('协议未同意');
            }else{
            this.show = true;
            $.ajax({
              type: 'post',
              dataType: 'json',
              url: 'http://localhost:8181/zfbPayConfirm',
              contentType: 'application/json',
              data: JSON.stringify({
                cmd: 'zfbPayConfirm',
                params: {
                  uuid: 'B9C18F0DC0334E0A1E17A68A4C3A73DC',
                  money: '0.01',
                  ip: '192.136.1.166'
                },
                token: 'A716E1F3EEA5431A89B617C04E2275EA',
                version: '1.6',
                userId: 'B9C18F0DC0334E0A1E17A68A4C3A73DC'
              }),
              success: function(json) {
                var result = json.result;
                if (result == 0) {
                  this.show = true;
                  var detail = json.detail;
                  var pay_amount = detail.pay_amount;
                  document.getElementById('pay_amount').value = 0.01;
                  var pay_applydate = detail.pay_applydate;
                  document.getElementById('pay_applydate').value = pay_applydate;
                  var pay_bankcode = detail.pay_bankcode;
                  document.getElementById('pay_bankcode').value = pay_bankcode;
                  var pay_callbackurl = detail.pay_callbackurl;
                  document.getElementById('pay_callbackurl').value = pay_callbackurl;
                  var pay_md5sign = detail.pay_md5sign;
                  document.getElementById('pay_md5sign').value = pay_md5sign;
                  var pay_memberid = detail.pay_memberid;
                  document.getElementById('pay_memberid').value = pay_memberid;
                  var pay_notifyurl = detail.pay_notifyurl;
                  document.getElementById('pay_notifyurl').value = pay_notifyurl;
                  var pay_orderid = detail.pay_orderid;
                  document.getElementById('pay_orderid').value = pay_orderid;
                  var pay_productname = detail.pay_productname;
                  document.getElementById('pay_productname').value = pay_productname;
                }if(result == 1){
                  var resultNote = json.resultNote;
                 
                }
              }
            });
            }
          },
          getCon() {
            this.showDo = true;
          },
          getTime() {
            this.showTime = true;
          },
          getContact(va) {
            this.verificationName = va;
            this.showDo = false
          },
          getContactTime(val) {
            this.verificationTime = val;
            this.showTime = false
          },
        }
      });

      // 调用函数组件，弹出一个 Toast

      // 通过 CDN 引入时不会自动注册 Lazyload 组件
      // 可以通过下面的方式手动注册
      Vue.use(vant.Popup);
      Vue.use(vant.Loading);
      Vue.use(vant.Cell);
      Vue.use(vant.CellGroup);
      Vue.use(vant.Button);
      Vue.use(vant.Toast);
      Vue.use(vant.Dialog);
    </script>
  </body>
</html>
